@page "/authentication/getall"

@inject IAuthService AuthService

<h3>GetAllUsers</h3>

<button class="btn btn-lg btn-primary btn-block" type="submit" @onclick="@GetAll">Get all users</button>

<div>
  <ul>
    @foreach (var user in UsersList.Users)
    {
      <li>
        @user.UserName
      </li>
    }
  </ul>

  <div>
    @foreach (var error in Errors)
    {
      <label class="text-danger">@error</label>
    }
  </div>
</div>



@code {
  UsersListModel UsersList { get; set; } = new UsersListModel
    {
      Users = new List<UserModel>()
    };

  IEnumerable<string> Errors { get; set; } = new List<string>();

  async Task GetAll()
  {
    var result = await AuthService.GetAll();
    UsersList = result.Response;
    Errors = result.Errors;
  }
}
