@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject IAuthService AuthService

<AuthorizeView>
  <Authorized>    
    <NavLink href=@PageRoutes.Profile class="btn btn-outline-info m-1">Hello, @context.User.Identity.Name !</NavLink>
    <button class="btn btn-outline-danger m-1" @onclick="LogoutClick">Log out</button>
  </Authorized>
  <Authorizing>
    <h1>Loading ...</h1>
  </Authorizing>
  <NotAuthorized>
    <NavLink href=@PageRoutes.Login class="btn btn-outline-info m-1">Log in</NavLink>
    <NavLink href=@PageRoutes.Register class="btn btn-outline-warning m-1">Register</NavLink>
  </NotAuthorized>
</AuthorizeView>

@code {
  async Task LogoutClick()
  {
    await AuthService.Logout();
    Navigation.NavigateTo(@PageRoutes.Home);
  }
}
