@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject IAuthService AuthService

<AuthorizeView>
  <Authorized>
    <a href=@PageRoutes.Profile>Hello, @context.User.Identity.Name !</a>
    <button class="nav-link btn btn-link" @onclick="LogoutClick">Log out</button>
  </Authorized>
  <Authorizing>
    <h1>Loading ...</h1>
  </Authorizing>
  <NotAuthorized>
    <a href=@PageRoutes.Register>Register</a>
    <a href=@PageRoutes.Login>Log in</a>
  </NotAuthorized>
</AuthorizeView>

@code {
  async Task LogoutClick()
  {
    await AuthService.Logout();
    Navigation.NavigateTo(@PageRoutes.Home);
  }
}
