@inherits LayoutComponentBase

@inject NavigationManager Navigation

<PageTitle>@Title</PageTitle>

<div class="page">
    <header class="sidebar">
        <NavMenu />
    </header>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer>
      
    </footer>
</div>

@code {
  private const string Title = "Cooking Recipes";  
}
