@inherits LayoutComponentBase

@inject NavigationManager Navigation

<PageTitle>@Title</PageTitle>

<div id="app-page">
  <header>
    <NavMenu />
  </header>

  <main class="container p-3">    
      @Body
  </main>

  <footer>
  </footer>
</div>

@code {
  private const string Title = "Cooking Recipes";
}
